@charset "utf-8";
@import url("http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css");

a, a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #111;
    text-decoration: none;
}

a:hover {
    color: #991100;
    text-decoration: none;
}

body {
    margin: 0 auto;
    padding: 3em 0;
    width: 30em;
    font-family: Georgia, 'bitstream vera serif', serif;
    background-color: #fff;
}

header {
    margin-bottom: 1em;
    font-size: 250%;
    text-align: center;
    letter-spacing: -0.075em;
}

section {
    margin: 0 auto;
    width: 5em;
    letter-spacing: -0.075em;
}
