@import url("http://yui.yahooapis.com/3.7.3/build/cssreset/cssreset-min.css");

/* inline */

body {
    font-family: Palatino, 'Palatino Linotype', Georgia, serif;
    color: #333;
    line-height: 1.6;
}

pre, code {
    font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

a {
    color: #a00;
    text-decoration: none;
}

a:hover {
    color: #333;
    border-bottom: dotted 1px;
}

em {
    font-style: italic;
}

strong  {
    font-weight: bold;
}

p code {
    font-size: 75%;
    background-color: #efefef;
}

pre code {
    font-size: 90%;
}

/* block */


h1 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0.6em;
}

p {
    margin-bottom: 1.5em;
}

blockquote {
    margin: 0 1em 1.5em;
}

ol, ul {
    margin-bottom: 1.5em;
    margin-left: 2em;
}

ul {
    list-style-type: disc;
}

dl {
    margin-bottom: 1.5em;
}

dt {
    margin-bottom: 0.2em;
}

dd {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}


pre {
    margin: 1.5em 0;
    padding: 0.8em;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    line-height: 1.2;
}

/* layout */

body {
    font-size: 100%;
    position: relative;
    margin: 0 auto;
    padding: 4em 8em 4em 14em;
    min-width: 40em;
    max-width: 50em;
}

body > header {
    position: absolute;
    left: 4em;
}

body > header h1 {
    font-size: 180%;
    font-weight: normal;
    letter-spacing: 0.05em;
}

body > header h1 a,
body > header h1 a:hover {
    color: #333;
}

body > article > header {
    margin: 0 0 1.8em;
}

body > article > header time {
    color: #aaa;
    font-style: italic;
    letter-spacing: 0.1em;
}

body > article > header h1 {
    font-size: 250%;
    line-height: 1.2;
    margin-bottom: 0;
}

body > section > ul {
    margin: 1em 2em 1em;
}

body > section > ul li {
    font-size: 120%;
}

body > footer {
    margin: 2.5em 0 0;
    border-top: 1px solid #ccc;
    padding-top: 0.8em;
    color: #aaa;
}

body > footer ul {
    font-size 95%;
    margin: 0;
    list-style-type: none;
}

body > footer li {
    display: inline;
}

body > footer li:before {
    content: '· ';
}

body > footer li:first-child:before {
    content: '';
}

body > footer a {
    color: #555;
}

/* highlighting style based on tango */ 

code > .kw { color: #204a87; font-weight: bold; }
code > .dt { color: #204a87; }
code > .dv { color: #0000cf; }
code > .bn { color: #0000cf; }
code > .fl { color: #0000cf; }
code > .ch { color: #4e9a06; }
code > .st { color: #4e9a06; }
code > .co { color: #8f5902; font-style: italic; }
code > .ot { color: #8f5902; }
code > .al { color: #ef2929; }
code > .fu { color: #000000; }
code > .er { font-weight: bold; }
