@import url("http://yui.yahooapis.com/3.7.3/build/cssreset/cssreset-min.css");

body {
    font-family: Palatino, 'Palatino Linotype', Georgia, serif;
}

pre, code {
    font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

a {
    color: #a00;
    text-decoration: none;
}

/* layout */

body {
    font-size: 100%;
    color: #333;
    margin: 0 auto;
    padding: 4em 1em 4em;
    min-width: 60em;
    max-width: 70em;
    line-height: 1.6;
}

header {
    position: fixed;
    left: 3em;
    width: 5em;
}

header h1 {
    font-size: 180%;
    font-weight: normal;
    letter-spacing: 0.05em;
}

header h1 a, header h1 a:hover {
    color: #333;
}

article, section {
    margin: 0 8em 1em 12em;
}

article time {
    color: #aaa;
    font-style: italic;
    letter-spacing: 0.1em;
}

article h1 {
    font-size: 250%;
    font-weight: bold;
    margin: 0 0 0.8em;
    line-height: 1.2;
}

section ul {
    list-style-type: disc;
    margin: 1.5em 2em;
}

section ul li {
    font-size: 120%;
}

footer {
    margin: 3em 8em 0 12em;
    border-top: 1px solid #ccc;
    padding-top: 0.8em;
    color: #aaa;
}

footer nav ul {
    font-size 95%;
    list-style-type: none;
}

footer nav li {
    display: inline;
}

footer nav ul li:first-child:before {
    content: '';
}

footer nav ul li:before {
    content: '· ';
}

footer nav a {
    color: #555;
}

footer nav a:hover {
    color: #333;
}

/* in article */

article p {
    margin: 1.5em 0;
}

article ul {
    list-style-type: disc;
    margin: 1.5em 2em;
}

article pre {
    margin: 1.5em 0;
    padding: 0.8em;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    line-height: 1.2;
}

article pre code {
    font-size: 90%;
}

article p code {
    font-size: 75%;
    background-color: #efefef;
}
