<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>$if(title)$$title$ - $endif$alpico.la</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/screen.css">
$if(highlighting-css)$
    <style type="text/css">
$highlighting-css$
    </style>
$endif$
$if(math)$
    $math$
$endif$
</head>
<body class="$type$">
    <header>
        <h1><a href="http://alpico.la">alpico.la</a></h1>
    </header>
$if(title)$
    <article>
$if(date)$
        <time>$date$</time>
$endif$
        <h1>$title$</h1>
$body$
    </article>
$else$
    <section>
$body$
    </section>
$endif$
    <footer>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="http://twitter.com/alpicola" rel="me">Twitter</a></li>
                <li><a href="http://www.hatena.ne.jp/alpicola/" rel="me">Hatena</a></li>
                <li><a href="http://github.com/alpicola" rel="me">GitHub</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
