<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="VZd777GgGz0RRpOqdOETW6UYORU-sTmp-xdL7d22HBI">
    <title>$if(title)$$title$ - $endif$alpico.la</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
$if(math)$
    $math$
$endif$
</head>
<body>
    <header>
        <h1><a href="/">alpico.la</a></h1>
    </header>
$if(title)$
    <article>
        <header>
$if(date)$
            <time>$date$</time>
$endif$
            <h1>$title$</h1>
        </header>
        <section>
$body$
        </section>
    </article>
$else$
    <section>
$body$
    </section>
$endif$
    <footer>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="http://twitter.com/alpicola" rel="me">Twitter</a></li>
                <li><a href="http://www.hatena.ne.jp/alpicola/" rel="me">Hatena</a></li>
                <li><a href="http://github.com/alpicola" rel="me">GitHub</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
